$background-color: white;


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: black;
}

body {
  font-family: 'Montserrat', sans-serif !important;
  font-size: 1rem;
  line-height: 1.6;
  background: $background-color;
  color: black;
}
.name {
  font-size: 24px;
  font-weight: bold ;
}

.container {
  max-width: 100%;
  margin: 0 0;
  padding: 0 45.5px;
  padding-top: 0rem;
}
.screen {
  height: 100vh;
  display: flex;
}

.navbar-collapse{
  margin: 20px;
}
@media (max-width: 740px){
.container{
  max-width: 740px;
  margin: auto auto;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
}

@media (max-width: 991px){
  .container{
    max-width: 740px;
    margin: auto auto;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  }
@media (max-width: 740px){
  .col-md-6{
    margin-top: 11rem;
  }
  
}


a {
  text-decoration: none;
}

a:hover {
  color: black;
}

ul {
  list-style: none;
}


.top-img{
  width: 100%;
  margin: 30px;
  margin-top: 0;

  
  // padding-top: 30px;
}
.general-img{
 width: 50%;
 display: block;
 margin-left: auto;
 margin-right: auto;
}
@media (max-width: 740px){
  img{
    margin: 0px;
  }
}

.btn {
  display: inline-block;
  background: black;
  color: white;
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  border: solid black;
  cursor: pointer;
  margin-right: 0.5rem;
  transition: opacity 0.2s ease-in;
  outline: none;
}

.btn:hover {
  background-color: white;
  color: black;
}

.form-control {
  display: block;
  margin-top: 0.3rem;
}

.card {
  padding: 1rem;
  border: black 1px dotted;
  margin: 0.7rem 0;
}

input,
select,
textarea {
  display: block;
  width: 100%;
  padding: 0.4rem;
  font-size: 1.2rem;
  border: 1px solid black;
  margin: 0rem 0;
}

hr {
  margin: .5rem 0;
}

.main{
 
  background-image:url('https://images.unsplash.com/photo-1488342994276-7c3bc0742042?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80');
  background-repeat: no-repeat; 
  background-size: 100% 100%;
  background-position: center;
  background-size: cover;
  
}


@media (max-width: 740px) {
  html,
  body,
  header,
  .view {
    height: 930px;
  }
}
@media (min-width: 800px) and (max-width: 850px) {
  html,
  body,
  header,
  .view {
    height: 600px;
  }
}

.btn .fa {
  margin-left: 3px;
}

.top-nav-collapse {
  background-color: white !important;

}
.navbar-dark .navbar-nav .nav-link{
  color: black;
}

.navbar:not(.top-nav-collapse) {
  background: rgba(255, 255, 255, 1) !important;
  color: black;
}
.navbar-myitems{
  color: black;
}

  //border:rgba(255, 255, 255, 1) !important;
@media (max-width: 991px) {
  .navbar:not(.top-nav-collapse) {
    background: white !important;
    padding:  0px 60px  0px  60px ;
  }
}
h1{
  background-color: rgb(0, 0, 0);
  
  color: white;
  display: inline;
  font-weight: 700;
  line-height: 1.6;
}


/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}
h6 {
  color: #454545;
  line-height: 1.7;
  
}
.bg-dark{
  background-image: url("https://i.ibb.co/kh9Y1TS/Macket-Phone.png");
  background-repeat: no-repeat; 
  background-size: 100% 100%;
  background-position: center;
  background-size: cover;
}

// .rgba-gradient {
//   // background: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.5)  100% );
// //  backdrop-filter:blur(5px) ;
// }
// Search



.main{
  background-color: rgba(255, 255, 255, 1);
  position: relative;
}
.main-text{
  color: black;
}
.anki{
  width: 30%;
  margin: 10% 0% 10% 35%;
}

.col-text{
 
  border-radius: 10px;
  border: dotted white;
  margin: 10px;
  
}
.image {
 padding-top: 60px;
}
.text-anki{
  margin: 10px;
  color: white;
}
/////////////////////////2 Pages///////////////////////////////

