<body>
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar">
    <div class="container" [@backgrn]="background">
      <a class="navbar-brand" routerLink="/home/">
        <strong class="logo navbar-myitems" [@navigation]="navbar"
          >Cardsbox</strong
        >
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent-7"
        aria-controls="navbarSupportedContent-7"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent-7">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" [@navigation]="navbar" routerLink="/home/"
              >Про нас
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [@navigation]="navbar" routerLink="/home/"
              >Інструкція</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" [@navigation]="navbar" routerLink="/home/"
              >Поділитися</a
            >
          </li>
        </ul>
        <form class="form-inline">
          <div class="md-form my-0 network">
            <div class="form">
              <!-- <ng-lottie [options]="network" (animationCreated)="animationCreated($event)"></ng-lottie> -->
            </div>
          </div>
        </form>
      </div>
    </div>
  </nav>
  <router-outlet></router-outlet>
</body>
