<html lang="en">

<body>
  <!-- Main navigation -->
  <header>
    <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar" id="navbar">
      <div class="container">
        <a class="navbar-brand" href="#">
          <strong class="name">Cardsbox</strong>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-7"
          aria-controls="navbarSupportedContent-7" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent-7">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Profile</a>
            </li>
          </ul>
          <form class="form-inline">
            <div class="md-form my-0">
              <!-- <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search"> -->
            </div>
          </form>
        </div>
      </div>
    </nav>
    <!-- Full Page Intro -->

    <!-- Mask & flexbox options-->
    <div class="mask rgba-gradient align-items-center screen">
      <!-- Content -->
      <div class="container">
        <!--Grid row-->
        <div class="row">
          <!--Grid column-->
          <div class="col-md-6 white-text text-center text-md-left mt-xl-5 mb-5">
            <div class="wrapper">
            <h1 class="h1-responsive font-weight-bold mt-sm-5 box" [@box]="boxState_title">Make purchases with our app </h1>
          </div>
            <hr class="hr-light box" [@box]="boxState_title">
            <h6 class="mb-4 box" [@box]="boxState_text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem repellendus quasi fuga
              nesciunt
              dolorum nulla magnam veniam sapiente, fugiat! Commodi sequi non animi ea dolor molestiae
              iste. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem repellendus quasi fuga nesciunt
              dolorum nulla magnam veniam sapiente, fugiat! Commodi sequi non animi ea dolor molestiae
              iste.</h6>
            <a class="btn btn-white wow fadeInDown" data-wow-animate="1s" data-wow-delay="1s" (click)="animate()">Download</a>
            <a class="btn btn-outline-white">Learn more</a>
          </div>
          <!--Grid column-->
          <!--Grid column-->
          <div class="col-md-6 col-xl-5 mt-xl-5t">
            <img src="https://i.ibb.co/sFPX7TS/Mobile-apps-Design-With-Maxpoint-Hridoy.png" alt="" class="img-fluid top-img box" [@box]="boxState">
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </div>
      <!-- Content -->
    </div>
    <!-- Mask & flexbox options-->

    <!-- Full Page Intro -->
  </header>
  <!-- Main navigation -->
  <!--Main Layout-->
  <main>
    <div class="view"
     style="background-color: black; background-repeat: no-repeat; background-size: cover; background-position: center center;">
      <div class="container">
        <!--Grid row-->
        <div class="row py-5 ">
          <!--Grid column-->
          <div class="col col-text">
            <p class="text-anki">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
              laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
              esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa
              qui officia deserunt mollit anim id est laborum.</p>
          </div>
          <div class="col col-text">
            <p class="text-anki">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
              laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
              esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa
              qui officia deserunt mollit anim id est laborum.</p>
          </div>
          <div class="col col-text">
            <p class="text-anki">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
              laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
              esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa
              qui officia deserunt mollit anim id est laborum.</p>
          </div>
          <!--Grid column-->
        </div>

        <!--Grid row-->
      </div>
    </div>
  </main>
  <!--Main Layout-->
  <div class="view" style="background-image: url('https://images.unsplash.com/photo-1493934558415-9d19f0b2b4d2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1036&q=80'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
    
    <div class="container">
    <div class="row py-5">
      <div class="col">
      <img src="https://i.ibb.co/0jgL47j/Macket-Phone.png" alt="" class="general-img">
    </div>
    <div class="col">

    </div>
    </div>
    
  </div>
</div>
</body>

</html>